* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-color: #00c2cb;
  color: #fff;
  margin: 50px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.contact-info {
  line-height: 1;
  margin-top: 8px;
  font-size: 14px;
  padding-left: 4%;
}

section {
  padding: 20px 40px;
  margin-bottom: 20px;
}

section h2 {
  border-bottom: 2px solid #00c2cb;
  margin-bottom: 10px;
  color: #2c3e50;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #00c2cb;
  color: white;
}